.title-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.web-logo {
    display: inline-flex;
    width: 12%;
    height: 12%;
    margin-bottom: 2%;
}

h1 {
    display: inline-flex;
    font-size: 100px;
    font-family: 'Quattrocento';
    color: #0f5b77;
    font-weight: 100;
    margin-top: 1%;
    margin-bottom: 1%;
}