main {
    display: flex;
        background-image: url('./assets/Purple\ Grape\ Background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        padding-top: 250px; 
        
      
}